body {
    background: black;
    color: white;
}

/*header styling
*/

#header {
    text-align: center;
    height: 75px;
    font-size: 40px;
    font-family: 'Notable', sans-serif;
}

#headText {
    margin-top: 15px;
}

/*image select row styling
*/

.row {
    height: 250px;
}

.col-lg-4 {
    height: 250px;
}

.imgDiv {
    height: 250px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 992px) {

    .col-lg-4 {
        width: 33%;
    }

}